<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>    
       <authorization>
        <allow users="?"/>
     </authorization>    
    <webServices>
        <protocols>
            <add name="HttpSoap12"/>
            <add name="HttpSoap"/>
            <add name="HttpGet"/>
            <add name="HttpPost"/>
            <add name="HttpPostLocalhost"/>
            <add name="Documentation"/>
        </protocols>
    </webServices>
              
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
<system.webServer>
    <defaultDocument>
        <files>
            <add value="MyService.asmx"/>
        </files>
    </defaultDocument>
</system.webServer>
</configuration>